/* Custom Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbar {
    padding: -1rem 1;
    
}

/* Home Section */
#home {
    padding: 100px 0;
}

/* About Section */
#about img {
    max-width: 100%;
    height: auto;
}

/* Portfolio Section */
.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

/* Skills Section */
#skills .card {
    height: 100%;
}

/* Contact Section */
#contact form {
    max-width: 600px;
    margin: 0 auto;
}

/* Footer */
footer {
    padding: 20px 0;
}

.social-links img {
    width: 30px;
    margin: 0 10px;
}